<% include ../partials/header %>

<main class="container">
    <div class="jumbotron">
        <h1>An error occurredwhile processing your request.</h1>
        <p>500　エラー</p>
    </div>
</main>

<% include ../partials/footer %>
