<%- include('../partials/header') %>

<main class="container">
    <div class="jumbotron text-center">
        <h1>ふむふむ You found my site.</h1>
        <img src="https://stickershop.line-scdn.net/stickershop/v1/sticker/13357184/iPhone/sticker_animation@2x.png" />
    </div>
</main>

<%- include('../partials/footer') %>
