<% include ../partials/header %>

<main class="container">
    <div class="jumbotron">
        <h1>This site is still a work in progress.</h1>
        <p>このサイトはまだ開発されています。</p>
    </div>
</main>

<% include ../partials/footer %>
